.element{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 400px;
    height: 500px;
}
.element h1{
    font-size: 32px;
    font-weight: 900;
}
.container{
    display: flex;
    width: 1000px;
    height: 800px;
    justify-content: space-around;
    align-items: center;
}
.switchbtn{
    width: 200px;
    height: 50px;
}
